[Unit]
Description=Two India Flask Application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/twoindia
Environment="PATH=/home/ec2-user/twoindia/venv/bin"
EnvironmentFile=/home/ec2-user/twoindia/.env
ExecStart=/home/ec2-user/twoindia/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8003 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
