[Unit]
Description=Talbeena Flask Application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/talbeena
Environment="PATH=/home/ec2-user/talbeena/venv/bin"
EnvironmentFile=/home/ec2-user/talbeena/.env
ExecStart=/home/ec2-user/talbeena/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8004 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
